@font-face {
	font-family: 'ra';
	src:url('../fonts/ra.eot?7ufxx7');
	src:url('../fonts/ra.eot?#iefix7ufxx7') format('embedded-opentype'),
		url('../fonts/ra.woff?7ufxx7') format('woff'),
		url('../fonts/ra.ttf?7ufxx7') format('truetype'),
		url('../fonts/ra.svg?7ufxx7#ra') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'ra';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-tags:before {
	content: "\e601";
}
.icon-tag:before {
	content: "\e602";
}
.icon-folder-open:before {
	content: "\e603";
}
.icon-folder:before {
	content: "\e604";
}
.icon-sad:before {
	content: "\e624";
}
.icon-flag:before {
	content: "\e625";
}
.icon-fire:before {
	content: "\e633";
}
.icon-google:before {
	content: "\e63a";
}
.icon-email2:before {
	content: "\e63d";
}
.icon-password:before {
	content: "\e63e";
}
.icon-lock:before {
	content: "\e605";
}
.icon-flag2:before {
	content: "\e606";
}
.icon-refresh:before {
	content: "\e607";
}
.icon-comment:before {
	content: "\e608";
}
.icon-tag2:before {
	content: "\e609";
}
.icon-tags2:before {
	content: "\e60a";
}
.icon-bookmark:before {
	content: "\e60b";
}
.icon-folder-close:before {
	content: "\e60c";
}
.icon-folder-open2:before {
	content: "\e60d";
}
.icon-plus:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-rss:before {
	content: "\e610";
}
.icon-double-angle-right:before {
	content: "\e611";
}
.icon-double-angle-left:before {
	content: "\e612";
}
.icon-angle-left:before {
	content: "\e613";
}
.icon-angle-right:before {
	content: "\e614";
}
.icon-angle-up:before {
	content: "\e615";
}
.icon-angle-down:before {
	content: "\e616";
}
.icon-star:before {
	content: "\e617";
}
.icon-star-empty:before {
	content: "\e618";
}
.icon-search:before {
	content: "\e619";
}
.icon-comments:before {
	content: "\e61a";
}
.icon-folder-close-alt:before {
	content: "\e61b";
}
.icon-folder-open-alt:before {
	content: "\e61c";
}
.icon-trash:before {
	content: "\e61d";
}
.icon-group:before {
	content: "\e61e";
}
.icon-edit:before {
	content: "\e61f";
}
.icon-ok:before {
	content: "\e620";
}
.icon-remove:before {
	content: "\e621";
}
.icon-wrench:before {
	content: "\e622";
}
.icon-undo:before {
	content: "\e623";
}
.icon-thumbs-up:before {
	content: "\e626";
}
.icon-thumbs-down:before {
	content: "\e627";
}
.icon-sort-by-attributes:before {
	content: "\e628";
}
.icon-question:before {
	content: "\e629";
}
.icon-info:before {
	content: "\e62a";
}
.icon-exclamation:before {
	content: "\e62b";
}
.icon-twitter:before {
	content: "\e62c";
}
.icon-facebook:before {
	content: "\e62d";
}
.icon-check:before {
	content: "\e62e";
}
.icon-eye-open:before {
	content: "\e62f";
}
.icon-question-sign:before {
	content: "\e630";
}
.icon-ok-sign:before {
	content: "\e631";
}
.icon-info-sign:before {
	content: "\e632";
}
.icon-puzzle:before {
	content: "\e63b";
}
.icon-move:before {
	content: "\e63c";
}
.icon-picture:before {
	content: "\e634";
}
.icon-badge:before {
	content: "\e635";
}
.icon-badge2:before {
	content: "\e636";
}
.icon-medal:before {
	content: "\e637";
}
.icon-time:before {
	content: "\e638";
}
.icon-list:before {
	content: "\e639";
}
.icon-user:before {
	content: "\e63f";
}
