
@media only screen and (min-width : 320px) and (max-width : 980px) {
	.left-sidebar{
		display:none;
	}
	.carousel .carousel-inner .row > .col-sm-3{
		width:50%;
	}

	.ra-new-users-widget .users-list {
		height: 75px;
		overflow: hidden;
	}
	#home-right-position> .widget {
		float: left;
		padding: 0 5px;
		width: 50%;
	}
	#home-right-position> .widget.site_activity {
		float: none;
		width: 100%;
		clear: both;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	
	.users-list-head td.activity, .user-list-item td.activity{
		display:none;
	}	
	.users-list-head td.badge-list, .user-list-item td.badge-list{
		display:none;
	}	
	.users-list-head td.user, .user-list-item td.user{
		width:60%;
	}
	.qa-q-view-tag-list{
		display:none;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1280px) {
	.qa-main {
		margin: 10px;
	}
}