a{
	color:#90BD59;
}
a:hover{
	color:#7AAA40;
}

#site-header, .on-off-checkbox-container label, #ra-widgets .widget-canvas .widget-save.active, .ra-tags-widget .widget-tag:hover, .t-bg, .face.back, .qa-form-tall-button-login, .qa-form-tall-button-send, .qa-form-tall-button-register, .user-activity-count .counts > div span, input[type="radio"]:checked + label {
	background:#90BD59;
}
#site-header .site-logo {
    
}
#site-header .navbar-form .form-control, .qa-form-tall-button-login:hover, .qa-form-tall-button-send:hover, .qa-form-tall-button-register:hover{
	background: #6E973C;
}
.navbar-default .navbar-form .icon-search{
    color: #5e7b3a;
}
.left-sidebar .qa-nav-main-list .qa-nav-main-item .qa-nav-main-link.qa-nav-main-selected, .left-sidebar .qa-nav-main-list .qa-nav-main-item .qa-nav-main-link:hover{
	color:#6E973C;
}

.qa-main .qa-nav-sub ul li a.qa-nav-sub-selected, .ra-ask-widget .ui-helper-hidden-accessible, .ra-tags-widget .widget-tag, .t-bg:hover, .top-users-list .top-user-data .points, .ra-activity .event-icon {
    background: none repeat scroll 0 0 #f38955;
}

#site-header .navbar-form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #5e7b3a;
}
#site-header .navbar-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #5e7b3a;
}
#site-header .navbar-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #5e7b3a;
}
#site-header .navbar-form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #5e7b3a;
}

.on-off-checkbox-container {
	border-color:#90BD59;
}

.ra-ask-widget .input-group-btn button{
    background: none repeat scroll 0 0 #E45840;
}


.t-bg-4{
	background:#FDAB0C;
	color:#fff;
}
.t-bg-4:hover{
	background:#e6a629;
	color:#fff;
}